[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "FDRsamplesize2"]
	path = FDRsamplesize2
	url = https://github.com/cran/FDRsamplesize2
